# **Introduction to Pandas**

## __Agenda__

- Fundamentals of Pandas
  * Purpose of Pandas
  * Features of Pandas
- Data Structures
- Introduction to Series
  * Creating and Accessing Pandas Series Using Different Methods
  * Basic Information in Pandas Series
  * Operations and Transformations in Pandas Series
  * Querying a Series

## __1. Fundamentals of Pandas__

Pandas is an open-source library built on top of NumPy and is used for data manipulation.

- It introduces data structures like DataFrame and Series that make working with structured data more efficient.

![link text](https://labcontent.simplicdn.net/data-content/content-assets/Data_and_AI/ADSP_Images/Lesson_04_Working_with_Pandas/1_Introduction_to_Pandas/pandas.png)

### __1.1 Purpose of Pandas__
![link text](https://labcontent.simplicdn.net/data-content/content-assets/Data_and_AI/ADSP_Images/Lesson_04_Working_with_Pandas/1_Introduction_to_Pandas/Purpose_of_Pandas.png)

### __1.2 Features of Pandas__
![link text](https://labcontent.simplicdn.net/data-content/content-assets/Data_and_AI/ADSP_Images/Updated_Images/Lesson_4/4_01/Features_of_Pandas.png)

## __2. Data Structures__
The two main libraries of Pandas data structure are:
![link text](https://labcontent.simplicdn.net/data-content/content-assets/Data_and_AI/ADSP_Images/Lesson_04_Working_with_Pandas/1_Introduction_to_Pandas/Data_Structures.png)

## __3. Introduction to Series__
A Series is a one-dimensional array-like object containing data and labels or index.

It can be created with different data inputs:
![link text](https://labcontent.simplicdn.net/data-content/content-assets/Data_and_AI/ADSP_Images/Updated_Images/Lesson_4/4_01/Introduction_to_Series.png)

### __3.1 Creating and Accessing Pandas Series Using Different Methods:__

In [2]:
import pandas as pd

In [3]:
# Ceatiing a Pandas Series from a list
data_list = [1, 2, 3, 4, 5]

print(pd.Series(data_list))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# Creating a Pandas Series with a specified index
index = ['a', 'b', 'c', 'd', 'e']
series_with_index = pd.Series(data_list, index=index)

print(pd.Series(data_list, index=index))

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
# Creating a Pandas Series from a dictionary
data_dict = {'a': 1, 'b': 2, 'c': 3}
series_from_dict = pd.Series(data_dict)

print(series_from_dict)

a    1
b    2
c    3
dtype: int64

In [6]:
# Accessing Data in a Series
print(series_with_index[2])    # Accessing by integer location  
print(series_with_index['b'])  # Accessing by index label

3
2

/var/folders/bm/rbfff3wd3s1_1zzn6x4bzp6h0000gn/T/ipykernel_1322/2059402943.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_with_index[2])    # Accessing by integer location

In [7]:
import pandas as pd

# Creating a Pandas Series from a list
data = [1, 2, 3, 4, 5]
series = pd.Series(data)

# Creating a Pandas Series with a specified index
index = ['a', 'b', 'c', 'd', 'e']
series_with_index = pd.Series(data, index=index)

# Creating a Pandas Series from a dictionary
data_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
series_from_dict = pd.Series(data_dict)

# Accessing data in a Series
print(series[2])  # Accessing element at index 2
print(series_with_index['b'])  # Accessing element with index 'b'

3
2

In [8]:
# Creating a Pandas DataFrame from a dictionary of lists
data_frame_dict = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data_frame_dict)

In [9]:
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

### __3.2 Basic Information in Pandas Series__
These functions collectively help analysts summarize and understand the characteristics of the data, facilitating effective data exploration and analysis.

In [10]:
# Return the first n rows
first_n_rows = series.head(3)

# Return the last n rows
last_n_rows = series.tail(3)

# Return dimensions (Rows, columns)
dimensions = series.shape

# Generate descriptive statistics
stats = series.describe()

# Return unique values
unique_values = series.unique()

# Return the number of unique values
num_unique_values = series.nunique()

### __3.3 Operations and Transformations in Pandas Series__
Operations and transformations in Pandas Series are crucial for modifying, enhancing, and cleaning data effectively.

They provide flexibility to adapt data to specific analyses or visualizations, preparing it for meaningful insights and ensuring data quality.

In [11]:
# Element-wise addition
result_series = series + series_with_index

# Apply a function to each element
squared_series = series.apply(lambda x: x**2)

# Map values using a dictionary
mapped_series = series.map({1: 'one', 2: 'two', 3: 'three'})

# Sort the Series by values
sorted_series = series.sort_values()

# Check for missing values
missing_values = series.isnull()

# Fill missing values with a specified value
filled_series = series.fillna(0)

### __3.4 Querying a Series__
Selecting and filtering data based on specific conditions is an essential aspect of querying a Pandas Series.

The following examples illustrate common querying operations that can be applied to a Pandas Series:

In [12]:
import pandas as pd

# Create a Pandas Series
data = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
series = pd.Series(data)

# Select elements greater than 30
selected_greater_than_30 = series[series > 30]

# Select elements equal to 20
selected_equal_to_20 = series[series == 20]

# Select elements not equal to 40
selected_not_equal_to_40 = series[series != 40]

# Select elements based on multiple conditions
selected_multiple_conditions = series[(series > 20) & (series < 50)]

# Select elements based on a list of values
selected_by_list = series[series.isin([20, 40, 60])]

# Select elements using string methods (if applicable)
string_series = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
selected_by_string_method = string_series[string_series.str.startswith('b')]

# Query based on index labels
selected_by_index_labels = series.loc[['a', 'c', 'e']]

# Query based on numeric position
selected_by_numeric_position = series.iloc[1:4]

# Display the results
print("Original Series:")
print(series)
print("\nSelected greater than 30:")
print(selected_greater_than_30)
print("\nSelected equal To 20:")
print(selected_equal_to_20)
print("\nSelected not equal to 40:")
print(selected_not_equal_to_40)
print("\nSelected based on multiple conditions:")
print(selected_multiple_conditions)
print("\nSelected based on list of values:")
print(selected_by_list)
print("\nSelected based on string method (startswith):")
print(selected_by_string_method)
print("\nSelected based on index labels:")
print(selected_by_index_labels)
print("\nSelected based on numeric position:")
print(selected_by_numeric_position)

Original Series:
a    10
b    20
c    30
d    40
e    50
dtype: int64

Selected greater than 30:
d    40
e    50
dtype: int64

Selected equal To 20:
b    20
dtype: int64

Selected not equal to 40:
a    10
b    20
c    30
e    50
dtype: int64

Selected based on multiple conditions:
c    30
d    40
dtype: int64

Selected based on list of values:
b    20
d    40
dtype: int64

Selected based on string method (startswith):
1    banana
dtype: object

Selected based on index labels:
a    10
c    30
e    50
dtype: int64

Selected based on numeric position:
b    20
c    30
d    40
dtype: int64

In [13]:
# Sort the Series by values
sorted_series = series.sort_values()
print(sorted_series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [14]:
# Check for missing values
missing_values = series.isnull()
print(missing_values)

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [15]:
# Fill missing values with a specified value
import numpy as np

series_2 = pd.Series([1, np.nan, 2, np.nan, 3])
filled_series_2 = series_2.fillna(10)
print(filled_series_2)

0     1.0
1    10.0
2     2.0
3    10.0
4     3.0
dtype: float64

In [16]:
# Create a Pandas Series
data = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
series = pd.Series(data)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [17]:
# Select elements greater than 30
selected_elements = series[series > 30]
print(selected_elements)

d    40
e    50
dtype: int64

In [18]:
# Select elements equal to 20
selected_elements = series[series == 20]
print(selected_elements)

b    20
dtype: int64

# __Assisted Practice__

## __Problem Statement:__
Use Pandas Series to analyze sales data for a retail store over a week and draw insights from the data.

### __Dataset:__
__Sample sales data__

sales_data = [120, 150, 130, 170, 160, 180, 140]

days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

## __Steps to Perform__

1. Create a Pandas Series for sales data
- Use a list of daily sales figures to create a Pandas Series
- Assign days of the week as the index
2. Access and manipulate sales data
- Access sales data for specific days using index labels
- Calculate total sales for the week
- Identify the day with the highest and lowest sales
   
3. Basic analysis of sales data
- Calculate the average sales for the week
- Determine the days with sales figures significantly different from the average

In [19]:
import pandas as pd
# Create a Pandas Series for sales data
sales_data = [120, 150, 130, 170, 160, 180, 140]
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Create the series with days as index
sales_series = pd.Series(sales_data, index=days_of_week)
print("Sales data for the week:")
print(sales_series)

Sales data for the week:
Monday       120
Tuesday      150
Wednesday    130
Thursday     170
Friday       160
Saturday     180
Sunday       140
dtype: int64

In [20]:
# Access sales data for specific days
print(f"\nSales on Monday: {sales_series['Monday']}")
print(f"Sales on Friday: {sales_series['Friday']}")

Sales on Monday: 120
Sales on Friday: 160

In [21]:
# Calculate total sales for the week
total_sales = sales_series.sum()
print(f"\nTotal sales for the week: {total_sales}")

Total sales for the week: 1050

In [22]:
# Identify the day with highest and lowest sales
highest_sales_day = sales_series.idxmax()
lowest_sales_day = sales_series.idxmin()
print(f"Highest sales day: {highest_sales_day} ({sales_series[highest_sales_day]})")
print(f"Lowest sales day: {lowest_sales_day} ({sales_series[lowest_sales_day]})")

Highest sales day: Saturday (180)
Lowest sales day: Monday (120)

In [23]:
# Calculate average sales for the week
average_sales = sales_series.mean()
print(f"\nAverage sales for the week: {average_sales:.2f}")

Average sales for the week: 150.00

In [24]:
# Determine days with sales significantly different from average (±20)
# threshold = 20
# days_above_average = sales_series[sales_series > (average_sales + threshold)]
# days_below_average = sales_series[sales_series < (average_sales - threshold)]

# print(f"\nDays with sales significantly above average (>{average_sales + threshold}):")
# print(days_above_average)
# print(f"\nDays with sales significantly below average (<{average_sales - threshold}):")
# print(days_below_average)

In [26]:
# Determine days with sales significantly different from average (±20)
threshold = 20
days_above_average = sales_series[sales_series.gt(average_sales + threshold)]
days_below_average = sales_series[sales_series.lt(average_sales - threshold)]

print(f"\nDays with sales significantly above average (>{average_sales + threshold}):")
print(days_above_average)
print(f"\nDays with sales significantly below average (<{average_sales - threshold}):")
print(days_below_average)

Days with sales significantly above average (>170.0):
Saturday    180
dtype: int64

Days with sales significantly below average (<130.0):
Monday    120
dtype: int64